@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #222;
    margin: 0;
}

.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 25px;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
.btn:hover {
  background-color: RoyalBlue;
}

.container{
  background: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input{
  border: none;
  outline: none;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  margin-top: 10px;
  margin-bottom: 10px;
}

select{
  border: none;
  outline: none;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  border-radius: 24px;
  background: #7c7c7c2b;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

select:focus {
  background: #7c7c7c2b;
  font-size: 105%;
}

input.quote{
  border: none;
  outline: none;
  height: 100px;
  padding: 0.4em 1em;
  border-radius: 24px;
  background: #7c7c7c2b;
  color: white;
  font-family: inherit;
  font-size: 105%;
  width: calc(100% - 100px);
}

canvas{
  margin: 50px;
}

.hidden{
  visibility: hidden;
}

.btn:disabled,
.btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}